/home/knoldus/Documents/my_personal/LagomBasicDemo/.bsp
/home/knoldus/Documents/my_personal/LagomBasicDemo/.idea
/home/knoldus/Documents/my_personal/LagomBasicDemo/project/target
/home/knoldus/Documents/my_personal/LagomBasicDemo/target